#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.borderline{
    border: 1px solid black;
}

.gitco-container{
    margin: 20px;
}
.RowLabel{
    color:#fff;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #356bc1;
}

.RowLabelCoobbligato{
    color:#fff;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #0abdc4;
}

.RowLabelOmonimia{
    color: black;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #8edcd4;
}

.RowLabelError{
    color:#fff;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #ba392d;
}

.RowLabelScarto{
    color:#fff;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #c47846;
}

.RowLabelImport{
    color:#fff;
    line-height:2.3rem;
    font-weight: bold;
    height:2.3rem;
    font-size:1.5rem;
    padding-left:0.4rem;
    background-color: #12a157;
}

.RowLabel a:link{
    color: #d79c99;
}
.RowLabel a:visited{
    color: #d79c99;
}
.RowLabel a:hover{
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.RowLabelImport a:link{
    color: #d79c99;
}
.RowLabelImport a:visited{
    color: #d79c99;
}
.RowLabelImport a:hover{
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.RowInput{
    padding-left:0.2rem;
    height:2.3rem;
    line-height:2.4rem;
    color:#000;
    background-color: #d1d8ee;
}

.RowCell{
    border: 1px solid rgb(224, 240, 254);
}

.RowInput input[type="text"]{
    color:#294A9C;
    font-weight:400;
    height:2.1rem;
    background-color: #CAE8D6;
    font-size:1.3rem;
}

.RowInput input[type="button"]{
    padding: 0rem 0.3rem 0rem 0.3rem;
    min-height:2.5rem;
    font-size:1.3rem;
    font-weight:bold;
}

.RowInput input[type="password"]{
    color:#294A9C;
    font-weight:400;
    height:2.1rem;
    background-color: #CAE8D6;
    font-size:1.3rem;
}
.RowInput select{
    color:#294A9C;
    height:2rem;
    background-color:#CAE8D6;
    font-size:1.3rem;
}
.RowInput textarea{
    color:#294A9C;
    background-color:#CAE8D6;
    font-size:1.3rem;
    margin:0.2rem 0.5rem;
    line-height:1.7rem
}

.RowInput input[type="radio"]{
    font-size:1.15rem;
    position:relative;
    top:-0.5rem;
}
.RowInput a:link{
    color: #4e7dc7;
}
.RowInput a:visited{
    color: #4e7dc7;

}
.RowInput a:hover{
    color: #356bc1;
    font-weight: bold;
    cursor: pointer;
}

.RowLabelHeight3{
    line-height:3rem;
    height:3rem;
}

.RowLabelHeight4{
    line-height:4rem;
    height:4rem;
}

.RowLabelHeight5{
    line-height:5rem;
    height:5rem;
}

.RowInputHeight5{
    line-height:5rem;
    height:5rem;
}

.RowInputHeight4{
    line-height:4rem;
    height:4rem;
}

.RowInputHeight3{
    line-height:3rem;
    height:3rem;
}

.RowInputBtnHeight3{
    line-height:2.7rem;
    height:3rem;
}

.RowInputBtnHeight5{
    line-height:5rem;
    height:5rem;
}


.clean_row{clear: both;}

.HSpace1{border-bottom:1px solid #fff;}
.HSpace4{border-bottom:4px solid #fff;}
.HSpace12{border-bottom:12px solid #fff;}

.btn-gitco{
    background-color: #356bc1;
    color:white;
    font-weight: bold;
}
